#jumpMenu{
    position: fixed;
    text-align: center;
    height: 100vh;
    width: 250px;
    background-color: orange;
    left: 0;
    top: 0;
}
#jumpMenu a{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    margin: 15px 10px;
    font-size:1.5em;
}

header{
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    background-color: orange;
    text-align: center;
    border-bottom: 2px solid black;
}
header nav{
    display: flex;
    text-align: center;
    background-color: black;
    justify-content: center;
}
header button{
    background-color: blue;
    color: white;
    padding: 15px 2em;
    margin: auto;
    font-size: .5em;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 250px;
}
article{
    padding: 10px;
    font-size: .75em;
    text-align: justify;
    min-width: 25px;
    width: 350px;
}
h1{
    text-align: center;
    margin-top: 250px;
    padding-left: 250px;
    font-size: 4em;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
    padding-left: 300px;
}
footer p{
    font-size: 2em;
}
footer address div{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.7em;
}

#thanks{
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: black;
    color: white;
}