body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 550px;
    margin: auto;
    padding: 12vw;
    padding-top: 8vw;
    border: 5px solid black;
    border-radius: 20px;
}

#pokeName{
    left: 50%;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    text-transform: capitalize;
}

label, button{
    display: block;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
}
#pokeID{
    display: block;
    margin: auto;
    text-align: center;
}

#pokePic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#pokeSound{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#dropdowns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}
.moves{
    text-align: center;
    text-transform: capitalize;
    min-width: 100px;
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
}

#team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    margin: 20px;
    border: 2px solid gold;
    border-radius: 50px;
}
