body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: black;
    background-color: cornsilk;
    margin: auto;
    padding: 20px;
    max-width: 900px; 
}

h1, h2, h3 {
    color: royalblue;
    margin-bottom: 10px;
}
header{
    text-align: center;
}

/* Mobile devices */
@media only screen and (max-width: 412px) {
    body{
        font-size: 14px;
    }

}

/* Computers */
@media only screen and (min-width: 1920px) {
    body{
        font-size: clamp(14px, 1.5vw, 16px);
    }

}
